<!-- <% if (messages().length > 0) { %>
  <div class="flash">
    <% messages().forEach(function(message) { %>
      <p><%= message %></p>
    <% }) %>
  </div>
<% } %> -->
<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>


<h1><%= title %></h1>
<%- messages() %>
<form action="/account/register" method="post">
  <label for="account_firstname">First Name</label>
  <input 
    type="text" 
    id="account_firstname" 
    name="account_firstname" 
    required 
    value="<%= typeof account_firstname != 'undefined' ? account_firstname : '' %>">

  <label for="account_lastname">Last Name</label>
  <input 
    type="text" 
    id="account_lastname" 
    name="account_lastname" 
    required 
    value="<%= typeof account_lastname != 'undefined' ? account_lastname : '' %>">

  <label for="email">Email Address</label>
  <input 
    type="email" 
    id="email" 
    name="email" 
    required 
    value="<%= typeof email != 'undefined' ? email : '' %>">

  <label for="password">Password</label>
  <span class="form-hint">Passwords must be at least 12 characters and include an uppercase letter, a number, and a special character.</span>
  <input 
    type="password" 
    id="password" 
    name="password" 
    required
    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">

  <button type="submit">Register</button>
</form>
